div{
    background-color:rgba(169, 91, 161, 0.844);
}

.button {
    transition-duration: 0.2s;
    width: 20%;
  }
  
.button:hover {
    background-color: rgba(169, 91, 161, 0.619); /* Green */
    color: rgb(230, 227, 229);
  }
  button {
    transition-duration: 0.2s;
    width: 20%;
  }
  
.button:hover {
    background-color: rgba(169, 91, 161, 0.619); /* Green */
    color: rgb(230, 227, 229);
  }
  .button {
    transition-duration: 0.2s;
    width: 20%;
  }
  
.button:hover {
    background-color: rgba(169, 91, 161, 0.619); /* Green */
    color: rgb(230, 227, 229);
  }

  .body {
    background-image: url("./fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .button {
    transition-duration: 0.2s;
    width: 20%;
  }
  
.button:hover {
    background-color: rgba(143, 31, 132, 0.619); /* Green */
    color: rgb(230, 227, 229);
  }
  .fundorosa{
      background-color: rgb(223, 119, 171);
      color: rgb(250, 248, 248);
      border: 2px solid rgba(173, 5, 81, 0.332);
      margin: 20px;
      padding: 20px;
  
    }
  
    .h1{
      color: rgba(173, 5, 81, 0.768);
  
   
    }
  
    body{
      background-color: rgba(221, 163, 188, 0.925);
  }