div{
    background-color:rgba(169, 91, 161, 0.844);
}

.button {
    transition-duration: 0.2s;
    width: 20%;
  }
  
.button:hover {
    background-color: rgba(169, 91, 161, 0.619); /* Green */
    color: rgb(230, 227, 229);
  }
  button {
    transition-duration: 0.2s;
    width: 20%;
  }
  
.button:hover {
    background-color: rgba(169, 91, 161, 0.619); /* Green */
    color: rgb(230, 227, 229);
  }
  .button {
    transition-duration: 0.2s;
    width: 20%;
  }
  
.button:hover {
    background-color: rgba(169, 91, 161, 0.619); /* Green */
    color: rgb(230, 227, 229);
  }